<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Safe Blurrinder</title>
    <link rel="stylesheet" href="/css/displayProcessedVideo.css">

</head>
<body>
<div>
<!--    <th>Processed Video </th>-->
<!--    &lt;!&ndash;        ${} : 모델 안에 있는 값을 꺼내는 것 &ndash;&gt;-->
<!--    <td th:text="${video.processedVideoName}"></td>-->
</div>

<div class="inner">
    <header>
        <h1>Safe Blurrinder</h1>
    </header>
    <div class="mainBox">
        <div class="videoBox">
            <video style="width:500px;" th:src="@{/processedVideo/{name}(name=${video.savedVideoName})}"controls></video>
        </div>
        <div class="selectBox">
            <div class="buttonBox">
                <a th:href="@{http://localhost:8080/download/{id}(id=${video._id})}" class="btn">저장하기</a>
                <a href="http://localhost:8080/direct" class="btn">수동 블러처리</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>