<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Safe Blurrinder</title>
    <link rel="stylesheet" href="/css/selectFace.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>

<body>
<div class="inner">
    <header>
        <h1>Safe Blurrinder</h1>
    </header>

    <div class="mainBox">
        <div class="topBox">
            <h2>블러 처리에서 제외할 인물을 선택하세요</h2>
        </div>
        <div class="middleBox">
            <div class="leftBox" id="leftBox">

            </div>
            <div class="rightBox" id="rightBox">

            </div>
        </div>
        <div class="bottomBox">
            <p onclick="" class="submitButton" id="submit-test">선택 완료</p>
            <script type="text/javascript" th:inline="javascript">
                 /*<![CDATA[*/
                    $("#submit-test").click(function(){
                        var saved_id=0;
                        var id=/*[[${_id}]]*/

                        clickedIds.unshift(id);
                        $.ajax({
                            url:'http://localhost:8080/sendTarget',
                            type:'post',
                            traditional:true,
                            redirect:'follow',
                            data:{
                                clickedIds:clickedIds
                            },
                            success:function(response){
                                console.log("success");
                                saved_id=response;
                                console.log(saved_id);
                            }
                        }).then(response=>window.location.href = "http://localhost:8080/loading2/"+saved_id);

                     });
                  /*]]>*/
            </script>

        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        var result=/*[[${cropImages}]]*/
//         var objData={
//   "cropImages": [
//     {
//       "frame1": "0.png"
//     },
//     {
//       "frame2": "1.png"
//     },
//     {
//       "frame3": "2.png"
//     },
//     {
//       "frame4": "3.png"
//     },
//     {
//       "frame5": "4.png"
//     },
//     {
//       "frame6": "5.png"
//     },
//     {
//       "frame7": "6.png"
//     },
//     {
//       "frame2": "7.png"
//     },
//     {
//       "frame3": "8.png"
//     },
//     {
//       "frame8": "9.png"
//     },
//     {
//       "frame6": "10.png"
//     },
//     {
//       "frame3": "11.png"
//     },
//     {
//       "frame2": "12.png"
//     },
//     {
//       "frame9": "13.png"
//     }
//   ]
// };
        console.log(result);
        console.log(typeof(result));

        var objData = JSON.parse(result);
        console.log(objData);
        console.log(typeof(objData));

        const imageCount = objData['cropImages'].length; // image 개수
        var images = new Array(imageCount); //이미지들
        var cloneImages = new Array(imageCount);
        var imageClick=new Array(imageCount); //클릭했는지
        var cloneImageClick = new Array(imageCount);
        var clickedIds=[];
        var testUrl='/selectImg/'

        var frameNums = []
        var cnt = 1 // 첫 프레임은 무조건 넣으니까 1로 시작

        for(var i in objData['cropImages']){
            var totalCnt = 0
            for(var key in objData['cropImages'][i]){
                images[i] = new Image();
                cloneImages[i] = new Image();
                images[i].src= testUrl+objData['cropImages'][i][key]; //여기서 이미지 넣는데 어떻게 넣어야 하지
                cloneImages[i].src = testUrl+objData['cropImages'][i][key];
                images[i].id = i.toString(); // 선택한 객체의 index (선택한 이미지 분류용)
                cloneImages[i].id = i.toString();
                const splited=key.split("e");
                images[i].name = splited[1]; //frame2의 2 가 이미지 이름으로 들어감
                cloneImages[i].name = splited[1];

                // 대표이미지만 출력하기
                if(frameNums.length==0)
                    frameNums[0]=splited[1]; // 첫번째 들어온 프레임은 무조건 넣기
                else{
                    for(var j=0;j<frameNums.length;j++){
                        if(frameNums[j]==splited[1])
                            totalCnt++;
                    }
                }

                if(totalCnt==0){
                    frameNums[cnt++]=splited[1];
                    document.getElementById("leftBox").appendChild(images[i]);
                }

                imageClick[i] = 0;
                cloneImageClick[i] = 0;
            }
        }


        $(function () { //클릭하는 부분
            $("img").mousedown(function () {
            })
                .click(function () {
                    if (imageClick[$(this).attr("id")] == 1) { // 클릭되어있으면
                        imageClick[$(this).attr("id")] = 0;
                        const idx = clickedIds.indexOf($(this).attr("name"))
                        var frameNum = Number(clickedIds[idx]); // 삭제할 이미지의 프레임 번호 받아오기
                        console.log(frameNum);
                        if (idx > -1) clickedIds.splice(idx, 1) // 클릭한 애를 배열에서 빼주기
                        console.log(clickedIds)
                        document.getElementById($(this).attr("id")).style.outline = "none";

                        for(var j=0;j<images.length;j++){
                            if(Number(images[j].name) === frameNum)
                                document.getElementById("rightBox").removeChild(cloneImages[j]);
                        }
                        // document.getElementById("leftBox").insertBefore(newItem,criteriaItem); // 왼쪽 박스에 선택한 애는 그대로 남아 있도록
                    } else { // 클릭되어있지 않으면
                        imageClick[$(this).attr("id")] = 1;
                        clickedIds.push($(this).attr("name")); // 클릭하면 해당 요소의 name 값(프레임번호)을 clickedIds에 넣음
                        console.log(clickedIds)
                        document.getElementById($(this).attr("id")).style.outline = "solid 4px #6881D0";

                        var clickedId = Number(clickedIds[clickedIds.length-1])
                        for(var j=0;j<images.length;j++){
                            if(Number(cloneImages[j].name) === clickedId){ // 같은 프레임이면
                                document.getElementById("rightBox").appendChild(cloneImages[j]);
                            }
                        }
                    }
                })
                .mouseover(function() {
                    document.getElementById($(this).attr("id")).style.outline = "solid 4px #6881D0";
                })
                .mouseleave(function() {
                    if(imageClick[$(this).attr("id")] == 0)
                        document.getElementById($(this).attr("id")).style.outline = "none";
                })
        });
    /*]]>*/
</script>
</body>
</html>