<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
    <div>
                <th>Uploaded Video Name</th>
                <!--        ${} : 모델 안에 있는 값을 꺼내는 것 -->
                <td th:text="${video.originVideoName}"></td>

    </div>
<div>
    <video style="width:500px;" th:src="@{/video/{name}(name=${video.savedVideoName})}"controls></video>
</div>
<div>
    <a th:href="@{http://localhost:8080/processVideo/{id}(id=${video._id})}">처리 진행</a>
    <a href="http://localhost:8080/">영상 재업로드</a>
</div>
</body>
</html>
